.container {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: auto;
    border: 1px solid grey;
    grid-template-areas: 
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer"
    ;
}

.item-a {
    background-color: blue;
    grid-area: header;
}

.item-b {
    background-color: yellow;
    grid-area: main;
}

.item-c {
    background-color: brown;
    grid-area: sidebar;
}

.item-d {
    background-color: green;
    grid-area: footer;
}





































/* .container {
    display: grid;
    width: 700px;
    height: 700px;
    border: 1px solid grey;
   grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
    gap: 15px 15px;
    justify-content: center;
    align-content: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px dotted grey;
}

.item-a {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
    border: 1px solid red;
}

.item-c {
    border: 1px solid yellow;
    grid-column: 3 / span 2;
    grid-row: third-line /4;
} */