:root {
    --size-div: 600px;
}

div {
    font-family: 'Montserrat', sans-serif;
    background-color: aquamarine;
    width: var(--size-div);
    overflow: visible;
}

p {
    width: 300px;
}

div img {
    width: var(--size-div);
    height: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    
    div {
        background-color: yellow;
    }
}