@function setcolor($clr){
    @return $clr;
}
div {
    background-color: setcolor(grey);
}

.box {
    background-color: yellow;
    // my description
}

@for $i from 1 through 12 {
    .cox-lg-#{$i} {width: 50 + $i;}
}