div {
    display: inline-block;
    margin: 10px;
}

a {
    color: grey;
}

.facebook:hover {
    color: #3b5998;
}

.youtube:hover {
    color: #c4302b;
}

.instagram:hover {
    color: #d6249f;
}

.pinterest:hover {
    color: #c8232c;
}