p {
    font-family: roboto;
    font-size: 20px;
    text-transform: uppercase;
}

p::before {
    content: open-quote;
    font-family: lato;
    font-size: 30px;
    color: red;
}

p::after {
    content: close-quote;
    font-family: lato;
    font-size: 30px;
    color: red;
}